div.app {
	margin: auto;
	text-align: center;
}

div.uploader {
    position: relative;
    margin: auto;
}

.upload-image {
    max-width: 500px;
}

img.upload-image {
    border-radius: 10px;
}

div.face-box {
	position: absolute;
	border: #ffffff dashed 3px;
}

div.face-box:hover {
    background-color: rgba(255, 255, 255, 0.29);
}

p.face-name {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 3px #000000;
}

table.face-table {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

table, th, td {
    border-bottom: 1px solid #000000;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.18);
}
